ai-email-support-desk.json
{
  "name": "AI Email Support Desk",
  "nodes": [
    {
      "parameters": {
        "content": "## Gmail Intake\n\n• Monitors the inbox for new emails\n• Extracts and normalizes email data\n• Prepares a consistent payload for AI processing",
        "height": 384,
        "width": 464,
        "color": 7
      },
      "id": "0f2da3bd-9b62-4b84-b318-618ebd99dda7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30aab42a-4d53-4ea5-b07d-fc90b125a13f",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "42e3bcea-c88a-4148-9aea-4f478ecfc2d3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "dedb46af-4d49-4f77-9056-80fabe27d8b8",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "f4799348-167d-410d-a52b-7aed1c41c2d8",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "684e7e03-0f9e-4760-b60f-dec191932034",
              "name": "messageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "cb388e8b-89f5-4ae9-b0c7-887e9aa07ed3",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "8f6cb21b-48c3-4661-84c1-e2ab2926668a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        464
      ],
      "id": "4c99cf5a-1be8-4cb7-a9f2-1ef3facf3075",
      "name": "Prepare Email"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        944
      ],
      "id": "f6b78ddd-d0f1-4146-a59a-3e66918e8658",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RBGD7IyvJioCsHv4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.subject }}\n\nFrom: {{ $json.from }}\n\nDate: {{ $json.date }}\n\nEmail:\n\n{{ $json.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI Customer Support Agent.\n\nYour job is to analyze incoming customer emails and determine the appropriate business action.\n\nYou have access to a Pinecone knowledge base containing company documentation, FAQs, policies, and support information. Use it whenever additional context is needed to answer the customer's question accurately.\n\n## Responsibilities\n\n1. Understand the customer's request.\n2. Retrieve relevant information from the knowledge base when necessary.\n3. Categorize the inquiry.\n4. Determine its business priority.\n5. Decide whether it should be automatically answered, reviewed by a human, or ignored.\n6. Draft a professional, friendly, and concise email response.\n\n## Categories\n\nUse the most appropriate category such as:\n- Billing\n- Technical Support\n- Account\n- Sales\n- Refund\n- General Inquiry\n- Other\n\n## Priority\n\n- High\n  - Financial issues\n  - Account access issues\n  - Multiple failed attempts\n  - Urgent customer problems\n\n- Medium\n  - Product questions\n  - Technical troubleshooting\n  - Service requests\n\n- Low\n  - General questions\n  - Feedback\n  - Non-urgent inquiries\n\n## Action Rules\n\nReturn only ONE action.\n\nUse:\n\nauto_reply\n- The knowledge base contains enough information.\n- The response is straightforward.\n- No human approval is required.\n\nhuman_review\n- The issue involves refunds, billing disputes, legal matters, complaints, account-specific actions, or anything requiring human judgment.\n- The knowledge base does not contain enough information.\n- You are unable to confidently answer the customer.\n\nignore\n- The email is clearly marketing, spam, newsletters, or automated notifications that do not require a response.\n\n## Reply Rules\n\n- Be professional and friendly.\n- Do not invent information.\n- If the knowledge base does not contain the answer, choose \"human_review\".\n- Never mention Pinecone, vector databases, AI, or internal systems.\n- Do not include a subject line.\n- Return ONLY a valid JSON object that exactly matches the output parser schema.\n\nDo not wrap the JSON inside another object such as \"output\", \"result\", or \"response\".\n\nDo not include markdown, code fences, explanations, or additional text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1536,
        464
      ],
      "id": "2bf5a6b7-2d7c-40ec-80db-da086b3ffeb7",
      "name": "AI Email Triage"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "be23e9c7-5b61-4578-940d-7d992594009f",
      "name": "Gmail Inbox Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        944,
        464
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "ZOHL8ByszcZIP2rp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1520,
        672
      ],
      "id": "f68bf476-fe3a-4a1c-9689-17a6c0f75676",
      "name": "GPT-4.1 Mini",
      "credentials": {
        "openAiApi": {
          "id": "RBGD7IyvJioCsHv4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the company knowledge base for documentation, FAQs, pricing, billing policies, account management, troubleshooting steps, and technical support information. Use this tool whenever company-specific information is needed to answer a customer's question. Do not use it for greetings, spam, marketing emails, or conversations that do not require company knowledge.",
        "pineconeIndex": {
          "__rl": true,
          "value": "support-kb",
          "mode": "list",
          "cachedResultName": "support-kb"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1552,
        832
      ],
      "id": "49b9313b-5f4a-4a2b-abbe-893ab41f6a50",
      "name": "Knowledge Base (Pinecone)",
      "credentials": {
        "pineconeApi": {
          "id": "pk9z3VzbZyUSVmqW",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The category of the customer's inquiry (e.g. Billing, Technical Support, Account, General Inquiry, Refund, Sales).\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Low\",\n        \"Medium\",\n        \"High\"\n      ],\n      \"description\": \"Business priority of the email.\"\n    },\n    \"action\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"auto_reply\",\n        \"human_review\",\n        \"ignore\"\n      ],\n      \"description\": \"The action the workflow should take.\"\n    },\n    \"reply_draft\": {\n      \"type\": \"string\",\n      \"description\": \"A professional customer-facing email reply. Leave empty if the action is 'ignore'.\"\n    }\n  },\n  \"required\": [\n    \"category\",\n    \"priority\",\n    \"action\",\n    \"reply_draft\"\n  ],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1744,
        672
      ],
      "id": "99ed293a-90d1-47cb-a1d6-03d6ddd57c79",
      "name": "Response Schema"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "auto_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9e0ae7b7-506b-49a2-9164-83cf35c29f88"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0982ff35-d6b0-44de-9bb8-368bea138d44",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "human_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ac308d5-f5da-4f42-be03-5a9c1d2d48bb",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2000,
        448
      ],
      "id": "1574c90b-c400-4fef-a36a-78c619a64f5d",
      "name": "Decision Router"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Prepare Email').item.json.messageId }}",
        "emailType": "text",
        "message": "={{$json.output.reply_draft}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2352,
        272
      ],
      "id": "3be8e577-922c-4a4b-876d-2844f574917e",
      "name": "Send Auto Reply",
      "webhookId": "dae00c8a-2984-4d71-a8e6-201e4fa25cd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZOHL8ByszcZIP2rp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Prepare Email').item.json.messageId }}",
        "labelIds": [
          "Label_4911852433736306931"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2576,
        272
      ],
      "id": "d82a530c-feb6-4d40-924b-6431bf78e6ff",
      "name": "Label: Auto Replied",
      "webhookId": "bf1db8e6-f3f5-44d9-9497-cade7ec06cf8",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZOHL8ByszcZIP2rp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1epP28rqi6cY4f1a4WkKBHg_2yrAk78xzsp170lFpWrs",
          "mode": "list",
          "cachedResultName": "Support Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1epP28rqi6cY4f1a4WkKBHg_2yrAk78xzsp170lFpWrs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1epP28rqi6cY4f1a4WkKBHg_2yrAk78xzsp170lFpWrs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "From": "={{ $('Gmail Inbox Trigger').item.json.from }}",
            "Subject": "={{ $('Gmail Inbox Trigger').item.json.subject }}",
            "Category": "={{ $('AI Email Triage').item.json.output.category }}",
            "Priority": "={{ $('AI Email Triage').item.json.output.priority }}",
            "Action": "={{ $('AI Email Triage').item.json.output.action }}",
            "Status": "Completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        464
      ],
      "id": "944e1394-aefe-48e3-b1b2-f4fc4d089269",
      "name": "Log Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3JVIc4OlLd1nhsit",
          "name": "Google Auth"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Prepare Email').item.json.subject }}",
        "message": "={{$json.output.reply_draft}}",
        "options": {
          "sendTo": "={{ $('Prepare Email').item.json.from }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2352,
        464
      ],
      "id": "00669fdd-864f-47ef-a329-1f374e92fa17",
      "name": "Create Review Draft",
      "webhookId": "137658d4-b237-443e-bd7c-67778c867c63",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZOHL8ByszcZIP2rp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BJ4B4PYRY",
          "mode": "id"
        },
        "text": "=🔔 New support email requires review\n\nCategory: {{ $('Decision Router').item.json.output.category }}\nPriority: {{ $('Decision Router').item.json.output.priority }}\n\nFrom: {{ $('Prepare Email').item.json.from }}\nSubject: {{ $('Prepare Email').item.json.subject }}\n\nA draft reply has been created in Gmail for review.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        2576,
        464
      ],
      "id": "c6d4c850-b05a-47d9-8c39-4d0d4ae59e33",
      "name": "Notify Support Team",
      "webhookId": "e22819c1-db40-4487-9856-17a36b4678ba",
      "credentials": {
        "slackApi": {
          "id": "4uqjFod7qp9EaqF1",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Prepare Email').item.json.messageId }}",
        "labelIds": [
          "Label_1"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2576,
        656
      ],
      "id": "755eef10-1c0e-4fc3-93bd-0978682df4da",
      "name": "Label: Ignored",
      "webhookId": "0b7053c1-dfb9-45db-8714-c8165763e1bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZOHL8ByszcZIP2rp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Email Triage Engine\n\n• Understands customer intent\n• Searches the knowledge base (RAG)\n• Categorizes the request\n• Assigns priority\n• Chooses the next action\n• Generates a reply draft",
        "height": 416,
        "width": 464,
        "color": 7
      },
      "id": "31733939-3663-4862-a620-7e1836ebbc02",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Decision Router\nRoutes emails based on the AI decision.\n\nActions:\n• auto_reply\n• human_review\n• ignore",
        "height": 416,
        "width": 368,
        "color": 7
      },
      "id": "37e20aaa-ea5d-4ff3-97a7-f7a54a09022b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Support Ticket Log\nRoutes emails based on the AI decision.\n\nStores every processed email for\nreporting, auditing, and analytics.\n\nCaptured:\n• Sender\n• Subject\n• Category\n• Priority\n• Action\n• Timestamp",
        "height": 416,
        "width": 384,
        "color": 7
      },
      "id": "c16a95c9-5a35-4885-85b1-c8acf9aebf98",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        272
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Email": {
      "main": [
        [
          {
            "node": "AI Email Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base (Pinecone)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Email Triage": {
      "main": [
        [
          {
            "node": "Decision Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Inbox Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Email Triage",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base (Pinecone)": {
      "ai_tool": [
        [
          {
            "node": "AI Email Triage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Response Schema": {
      "ai_outputParser": [
        [
          {
            "node": "AI Email Triage",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Decision Router": {
      "main": [
        [
          {
            "node": "Send Auto Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Review Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auto Reply": {
      "main": [
        [
          {
            "node": "Label: Auto Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Auto Replied": {
      "main": [
        [
          {
            "node": "Log Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Review Draft": {
      "main": [
        [
          {
            "node": "Notify Support Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Support Team": {
      "main": [
        [
          {
            "node": "Log Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Ignored": {
      "main": [
        [
          {
            "node": "Log Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "07f97e08-0f07-41bd-b423-b1f725ee5dde",
  "meta": {
    "templateId": "10465",
    "templateCredsSetupCompleted": true,
    "instanceId": "7bdff68572df42f53ed0c673c5e3562dc76e5a70b470bf557bec9e18154bc3ff"
  },
  "nodeGroups": [],
  "id": "hcY4NjWgcSnO9Zyt",
  "tags": []
}