knowledge-base-ingestion.json
{
  "name": "Retrieve Documents (As Tool)",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "1cfd2cbe-432a-489a-9454-b9a2721ce3ed",
      "name": "Download Knowledge Document",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WoTWOOVf6xDeLbyh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "eac9c108-7456-4605-af05-0459d292ba1b",
      "name": "Generate Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "RBGD7IyvJioCsHv4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BKCX947ydKPt19ca2KqJ0uAY-SqLsKtG",
          "mode": "list",
          "cachedResultName": "Support Knowledge Base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BKCX947ydKPt19ca2KqJ0uAY-SqLsKtG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f4ed70ae-16c6-41f8-83a1-e87590c8c39c",
      "name": "Watch Knowledge Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WoTWOOVf6xDeLbyh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "support-kb",
          "mode": "list",
          "cachedResultName": "support-kb"
        },
        "options": {
          "pineconeNamespace": "=support-kb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "8779ba90-0126-4603-9d29-361693d1d82f",
      "name": "Store Embeddings",
      "credentials": {
        "pineconeApi": {
          "id": "pk9z3VzbZyUSVmqW",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": false,
          "metadata": {
            "metadataValues": [
              {
                "name": "Apple",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "ac9953db-dea8-49fc-8d35-8b528272a537",
      "name": "Load Document"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "5f07f9a3-fa4f-4eb9-b37b-273336e7d855",
      "name": "Split Document"
    }
  ],
  "pinData": {},
  "connections": {
    "Download Knowledge Document": {
      "main": [
        [
          {
            "node": "Store Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Store Embeddings",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Watch Knowledge Folder": {
      "main": [
        [
          {
            "node": "Download Knowledge Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Document": {
      "ai_document": [
        [
          {
            "node": "Store Embeddings",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Document": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Document",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "45df6d72-4166-4ba6-8c82-104e2dcfd709",
  "meta": {
    "instanceId": "7bdff68572df42f53ed0c673c5e3562dc76e5a70b470bf557bec9e18154bc3ff"
  },
  "nodeGroups": [],
  "id": "EEKZR1WEVPBPYzKL",
  "tags": []
}